.main-heading{
  text-align: center;
  justify-content: space-around;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  color: black;
}

img {
  display: inline-block;
  vertical-align: middle; /* or top or bottom */
}

.text {
  display: inline-block;
  vertical-align: middle; /* or top or bottom */
  text-align: justify;
}

div {
  padding: 10px;
  margin: 10;
  padding-top: 0%;
}
form {
  text-align: center;
  margin:9px ;
}
.search-form-input{
  width: 30%;
  height: 35px;
  border-style: solid;
  border-bottom: 2px solid rgb(32, 0, 0);
  border-radius: 4px;
  background-repeat: no-repeat;
  padding-left: 40px;
  cursor: pointer;
  text-decoration: none;
  background-color: ivory;
  
}

.search-form-button{
  padding:5px;
  text-decoration:none;
}

.App {
  text-align: center;
}

nav{
  height: 30%;
  display:flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(148, 185, 204);
  color: white;
  height:30;
  margin: 0;
}

.nav-ul{
  width: 30%;
  display:flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  min-height: 10vh;
  text-decoration:none rgb(57, 45, 138);
}


.nav-ul-links {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: x-large;
  text-align: center;
  text-decoration: none;
}

a {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: normal;
  text-decoration: none;
}
a:hover {
  
}
a:active {
  
}