img {
  display: inline-block;
  vertical-align: middle; /* or top or bottom */
  
}
.text {
  display: inline-block;
  vertical-align: middle; /* or top or bottom */
  text-align: justify;
}
div {
  padding: 30px;
  margin: 30;
  /* background-color: rgb(95, 145, 160); */
}
.search-form{
  
}
.search-form-input{
  width: 30%;
  height: 35px;

  border: none;
  border-bottom: 2px solid rgb(32, 0, 0);
  border-radius: 4px;
  background-repeat: no-repeat;
  padding-left: 40px;
  cursor: pointer;
  text-decoration: none;

}

input, .search-form-input:focus {

}

.search-form-button{
  padding:5px;
  text-decoration:none;
}

.App {
  text-align: center;
}

nav{
  display:flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(148, 185, 204);
  color: white;
  height:30;
}

.nav-links{
  width: 40%;
  display:flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  min-height: 10vh;
  text-decoration: rgb(57, 45, 138);
}
